{{ if not (eq .Params.showMeta false) }}
  <div class="postShorten-meta post-meta">
    {{ if not (eq .Params.showDate false)  }}
      {{ if .Page.Params.LastMod }}
        <time itemprop="dateModified" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          Last updated on {{ dateFormat ( or .Site.Params.dateFormat "2006, Jan 02" ) .Page.Params.LastMod }}
        </time>
      {{ else }}
        <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ partial "internal/date.html" . }}
        </time>
      {{ end}}
    {{ end }}
    {{ partial "post/category.html" . }}
  </div>
{{ end }}