a.link-unstyled {
    &,
    &:before {
        transition: color 0.2s ease;
        color: inherit !important;
    }
    &:hover {
        border-bottom-color: transparent;
        color: #a5bed6 !important;
    }
        &:hover:before {
            color: #a5bed6 !important;
        }
    &:active {
        cursor:          pointer !important;
        color:           inherit !important;
        text-decoration: none !important;
    }
    a.link {
        &,
        &:hover,
        &:active {
            text-decoration: underline !important;
        }
    }
}
a.fancybox {
    cursor: zoom-in !important;
}